@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-triangle::after {
  content: "";
  position: absolute;
  left: 87.75%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  clear: both;
}

.menu-triangle::before {
  content: "";
  position: absolute;
  left: 87.25%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid black;
  clear: both;
}

.chevron {
  &::after {
    content: "";
    position: absolute;
    left: 87.75%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    clear: both;
  }
}
